In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Words of Caution ##
- Remember to run the cell above. It's for setting up the environment so you can have access to what's needed for this lecture. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lectures.
- Data science is not just about code, so please don't go over this notebook by itself. Have the relevant textbook sections or lecture video at hand so that you can go over the discussion along with the code. Thank you!

## Python ##

In [ ]:
2 + 9

In [ ]:
2 * 9

In [ ]:
2 / 9

In [ ]:
2 + 3 * 9

In [ ]:
(2 + 3) * 9

In [ ]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

In [ ]:
'hello'

## Names ##

In [ ]:
a = 4

In [ ]:
a

In [2]:
b = 9

In [3]:
b

9

In [4]:
a * 3

NameError: name 'a' is not defined

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
a = 10

In [ ]:
total

In [ ]:
total = a + b

In [ ]:
total

In [ ]:
'total'

### Why Names?

In [ ]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
hours_per_year

In [ ]:
# Minimum wage for businesses w/26 or more employees
# Goes up by $1/hr until 2022
ca_hourly_minimum_wage = 13.00

In [ ]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

In [ ]:
40 * 13.00

In [ ]:
40 * 52 * 13.00

## Functions and Call Expressions

In [ ]:
abs(-5)

In [ ]:
abs(1 - 3)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

## Tables ##

In [ ]:
cones = Table.read_table('cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.where('city', 'Los Angeles')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)