In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Lecture 10 ##

## Functions

In [ ]:
def age(year):
    age = 2020 - year
    return age

In [ ]:
# Joe Biden was born 1942
# let's find out how old he is

## Apply

In [77]:
staff = Table().with_columns(
    'Employee', make_array('Jim', 'Dwight', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
staff

Person  | Birth Year
Jim     | 1985
Dwight  | 1988
Michael | 1967
Creed   | 1904

## Prediction ##

In [90]:
galton = Table.read_table('galton.csv')
galton

family | father | mother | midparentHeight | children | childNum | gender | childHeight
1      | 78.5   | 67     | 75.43           | 4        | 1        | male   | 73.2
1      | 78.5   | 67     | 75.43           | 4        | 2        | female | 69.2
1      | 78.5   | 67     | 75.43           | 4        | 3        | female | 69
1      | 78.5   | 67     | 75.43           | 4        | 4        | female | 69
2      | 75.5   | 66.5   | 73.66           | 4        | 1        | male   | 73.5
2      | 75.5   | 66.5   | 73.66           | 4        | 2        | male   | 72.5
2      | 75.5   | 66.5   | 73.66           | 4        | 3        | female | 65.5
2      | 75.5   | 66.5   | 73.66           | 4        | 4        | female | 65.5
3      | 75     | 64     | 72.06           | 2        | 1        | male   | 71
3      | 75     | 64     | 72.06           | 2        | 2        | female | 68
... (924 rows omitted)

## Prediction Accuracy ##

In [14]:
def difference(x, y):
    return x - y

# Discussion Question

In [19]:
def predict_smarter(h, g):
    nearby = galton.where('midparentHeight', are.between(h - 1/2, h + 1/2))
    nearby_same_gender = nearby.where('gender', g)
    return nearby_same_gender.column('childHeight').mean()

## Grouping by One Column ##

In [94]:
cones = Table.read_table('cones.csv')

In [26]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

## Grouping By One Column: Welcome Survey ##

In [55]:
survey = Table.read_table('...')

## Lists

In [57]:
[1, 5, 'hello', 5.0]

[1, 5, 'hello', 5.0]

## Grouping by Two Columns ##

In [43]:
survey = Table.read_table('...')

## Pivot Tables