In [54]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 11 #

## Lists

In [55]:
# list of numbers
[1, 2, 3]

[1, 2, 3]

In [56]:
# list of strings and numbers
['hello', 1, 2, 3]

['hello', 1, 2, 3]

In [57]:
# list of strings, numbers and boolean
simple_list = ['hello', 7, 3.14, True]
simple_list

['hello', 7, 3.14, True]

In [58]:
# nest an array within my list
my_array = make_array(1, 2, 3)

crowded_list = [my_array, 'what is going on', -10]
crowded_list

[array([1, 2, 3]), 'what is going on', -10]

In [59]:
type(crowded_list)

list

In [60]:
# create a table with a list
Table().with_columns('Numbers', [1, 2, 3])

Numbers
1
2
3

In [61]:
# populate column labels in a table, with a list
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

Drink | Cafe | Price

In [62]:
# define rows within a table, with lists!
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

Drink    | Cafe   | Price
Milk Tea | Asha   | 5.5
Espresso | Strada | 1.75
Latte    | Strada | 3.25
Espresso | FSM    | 2

## Grouping by one column

In [63]:
survey = Table.read_table('ds1-survey-pronouns.csv')
survey.show(15)

In [64]:
survey.group('Charity').show()

In [65]:
survey.group('Job', np.average)

Job                              | Pronouns average | Prior experience average | Confidence in programming average | Confidence in viz average | Lecture Pace average | Lecture preference average | Random1 average | Random2 average | Letter1 average | Letter2 average | Charity average
A job I love that makes $100,000 |                  |                          |                                   |                           |                      |                            | 5.16667         | 34              |                 |                 | 62.1667
a job I hate that makes $500,000 |                  |                          |                                   |                           |                      |                            | 5.58333         | 44.6667         |                 |                 | 33.75

In [ ]:
(survey.select('Charity', 'Job').group('Job', np.average))

In [ ]:
# how would you using similar code as above
# show the relationship between pronouns and charity average? 
(survey.select('Pronouns', 'Charity').group('Pronouns', np.average))

In [ ]:
#what happens when you group by charity instead?

## Cross-classification: grouping by two columns

In [ ]:
survey.group(['Pronouns']).show()

In [ ]:
survey.group(['Pronouns','Charity']).show()

In [ ]:
survey.pivot('Pronouns', 'Charity')

In [ ]:
survey.pivot('Pronouns', 'Job', 'Charity', np.average)

In [ ]:
(survey.select('Job', 'Pronouns', 'Charity')
       .group(['Job','Pronouns'], np.average)).show()

In [ ]:
# Here, pivot doesn't know how to aggregate the Charity values
# for each subgroup of students
survey.pivot('Pronouns', 'Job', 'Charity')

## Challenge Question ##

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2021 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

In [ ]:
# 1. For each city, what’s the tallest building for each material?

In [ ]:
# 2. For each city, what’s the height difference between the tallest 
#    steel building and the tallest concrete building?

Don't read ahead until you try the challenge questions yourself first!

In [ ]:
# 1. For each city, what’s the tallest building for each material?

sky.select('name','material', 'city', 'height').group(['city', 'material'], max)

In [ ]:
# 1. For each city, what’s the tallest building for each material?
sky_p = sky.pivot('material', 'city', 'height', max)
sky_p = sky_p.drop("mixed/composite")
sky_p

In [ ]:
# 2. For each city, what’s the height difference between the tallest 
#    steel building and the tallest concrete building?


sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

In [ ]:
sky_p.sort('difference', True)

### Take-home question: try it here!

In [ ]:
# Generate a table of the names of the oldest buildings for each 
# material for each city:

## Joins ##

In [ ]:
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
combined = combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

**Looking at the Discounted Price column, let's make sure it is rounded to two decimal places. We can use python's built-in function round or numpy's version of round. Let's check out the documentation of both:**

In [ ]:
help(round)

In [ ]:
help(np.round)

**Comparing the two help documentation of round and np.round, let's use np.round, within the apply function, to round the array of column "Discounted Price"**

In [ ]:
discounted_price = combined.column('Discounted Price')
discounted_price

In [ ]:
discounted_price_rounded = np.round(discounted_price,2)
discounted_price_rounded

In [ ]:
combined = combined.with_column('Discounted Price Rounded', discounted_price_rounded)
combined

In [ ]:
combined = combined.drop('Discounted Price')
combined

In [ ]:
combined = combined.relabel('Discounted Price Rounded', 'Discounted Price')

In [ ]:
drinks.join('Cafe', drinks, 'Cafe')

In [ ]:
combined