In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Lecture 11 #

## Lists

In [ ]:
# list of numbers

In [ ]:
# list of strings and numbers

In [ ]:
# list of strings, numbers and boolean
simple_list = ['hello', 7, 3.14, True]
simple_list

In [ ]:
# nest an array within my list
my_array = make_array(1, 2, 3)

crowded_list = [my_array, 'what is going on', -10]
crowded_list

In [ ]:
# create a table with a list
Table().with_columns('Numbers', [1, 2, 3])

In [ ]:
# populate column labels in a table, with a list
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

In [ ]:
# define rows within a table, with lists!
drinks = drinks.with_rows([
    ['Milk Tea', 'Asha', 5.5],
    ['Espresso', 'Strada',  1.75],
    ['Latte',    'Strada',  3.25],
    ['Espresso', "FSM",   2]
])
drinks

## Grouping by one column

In [ ]:
survey = Table.read_table('ds1-survey-pronouns.csv')
survey.show(15)

In [ ]:
survey.group('Charity').show()

In [ ]:
survey.group('Job', np.average)

In [ ]:
(survey.select('Charity', 'Job').group('Job', np.average))

## Cross-classification: grouping by two columns

In [ ]:
survey.group(['Pronouns','Charity']).show()

In [ ]:
survey.pivot('Pronouns', 'Charity')

In [ ]:
survey.pivot('Job', 'Pronouns', 'Charity', np.average)

In [ ]:
jobs_pronouns_charity_table = survey.select('Job', 'Pronouns', 'Charity')
jobs_pronouns_charity_table = jobs_pronouns_charity_table.group(['Job','Pronouns'], np.average)  
jobs_pronouns_charity_table
                               
                            #   .group(['Job','Pronouns'], np.average)).show()

In [ ]:
# Here, pivot doesn't know how to combine all the hours of sleep
# for each subgroup of students
survey.pivot('Pronouns', 'Job', 'Charity')

## Challenge Question ##

In [ ]:
sky = Table.read_table('skyscrapers_v2.csv')
sky = (sky.with_column('age', 2021 - sky.column('completed'))
          .drop('completed'))
sky.show(3)

In [ ]:
# 1. For each city, what’s the tallest building for each material?

In [ ]:
# 2. For each city, what’s the height difference between the tallest 
#    steel building and the tallest concrete building?

Don't read ahead until you try the challenge questions yourself first!

In [ ]:
sky.select('material', 'city', 'height').group(['city', 'material'], max)

In [ ]:
sky_p = sky.pivot('material', 'city', 'height', max)
sky_p.show()

In [ ]:
sky_p = sky_p.with_column(
    'difference', 
    abs(sky_p.column('steel') - sky_p.column('concrete'))
)
sky_p

In [ ]:
sky_p.sort('difference', True)

### Take-home question: try it here!

In [ ]:
# Generate a table of the names of the oldest buildings for each 
# material for each city:

## Joins ##

In [ ]:
drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon % off') / 100
discounted_frac

In [ ]:
combined = combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)
combined

Let's round the values in the Discounted Price column to two decimal places. Which round function should we use? Let's look at the help documentation on both round and np.round:

In [ ]:
help(round)
# the built-in python function called round takes in a number
# it can't take in an array

In [ ]:
help(np.round)
#the numpy or np version of round can take in an array
# let's use np.round below to round our column "Discounted Price"

In [ ]:
# display discounted price to just two decimal places
#use np.round (instead of built-in round function)
discounted_price_rounded = np.round(combined.column('Discounted Price'),2)
combined = combined.with_column('Discounted Price Rounded', discounted_price_rounded)
combined = combined.drop('Discounted Price')
combined

In [ ]:
drinks.join('Cafe', drinks, 'Cafe')